# Auto Loader Source: {{ node_id }}

df_{{ node_id | replace("-", "_") }} = (
    spark.readStream
    .format("cloudFiles")
    .option("cloudFiles.format", "{{ format }}")
    .load("{{ path }}")
)
