# [node:{{ node_id }}] Google Pub/Sub Source: {{ node_label }}
df_{{ node_id | pyvar }} = (
    spark.readStream
    .format("pubsub")
    .option("projectId", "{{ project_id }}")
    .option("subscriptionId", "{{ subscription_id }}")
    {% if credentials_path %}.option("credentialsPath", "{{ credentials_path }}"){% endif %}
    .load()
    .selectExpr(
        "CAST(data AS STRING) AS data",
        "CAST(messageId AS STRING) AS message_id",
        "CAST(publishTime AS TIMESTAMP) AS publish_time",
        "attributes"
    )
)
